/* form downlaod */

.col-sm-3 .well {
    background-color: #C1F2B0; /* Ganti dengan warna hex atau nilai warna yang diinginkan */
    padding: 15px;
    border-radius: 6px;
}

.col-sm-9 {
    width: 75%;
    float: left;
}

.well {
    background-color: #C1F2B0;
    border: 1px solid #000000;
    border-radius: 4px;
    padding: 15px;
    margin-bottom: 20px;
}

/* CSS untuk gambar */
.text-center img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

/* CSS untuk judul dan paragraf */
.text-center h4,
.text-center p {
    color: #000000;
    font-family: Poppins, sans-serif;
}

/* Global Styles */
body {
    margin: 0;
    font-family: Poppins, sans-serif;
    background-color: #f5f5f5;
}

/* Header Styling */
.header {
    color: #ffffff;
    background-color: #65B741;
    padding: 20px;
    text-align: center;
}

/* Navigation Styling */
.navbar {
    background-color: #65B741;
    overflow: hidden;
}

.collapse{
    display: flex;
}

/* Sidebar Styling */
.sidenav {
    background-color: #65B741;
    padding-top: 50px;
    padding-bottom: 100%;
}

.nav-text{
    color: #fffefe;
}
.sidenav a {
    padding: 16px;
    text-decoration: none;
    font-size: 15px;
    color: #ffffff;
    display: flex;
    position: fixed;
    overflow-y: auto;
    top: 0;
    left: 0;
}


/* Table Styling */
#table-container {
    width: 100%;
    overflow: auto;
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th,
td {
    border: 1px solid #ffffff;
    text-align: left;
    padding: 10px;
}

/* Form Styling */
.form-container {
    margin-top: 20px;
}

select {
    color: #fffefe;
    font-size: medium;
    padding: 10px;
    border: 1px solid #65B741;
    background-color: #65B741;
}

/* Content Styling */
.content {
    padding: 16px;
    height: calc(100vh - 40px);
}

/* Footer Styling */
.footer {
    padding: 20px;
    text-align: center;
    background-color: #65B741;
    color: #ffffff;
}

.chart-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px auto;
}

.chart {
    height: 300px;
    flex: 1;
    box-sizing: border-box;
    margin: 5px;
    background-color: rgb(255, 255, 255);
}

/* table button */

/* Aturan media query untuk perangkat mobile */
@media (max-width: 768px) {
    .chart-container {
        display: block;
    }

    .chart {
        height: auto;
        margin: 5px 0;
    }

    #table-container {
        width: 95%;
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
    }

    .col-sm-9,
    .well {
        width: 100%; /* Mengisi lebar penuh untuk perangkat mobile */
        float: none; /* Menghilangkan float untuk perangkat mobile */
    }

    .row.content {
        height: auto;
        justify-content: center;
        align-items: center;
    }

    .sidenav {
        height: auto;
    }

    .container {
        padding: 10px;
    }

    table {
        width: 100%;
    }

    th,
    td {
        padding: 5px;
    }
}
